body {
    background-image: url('walpaper.jpg') !important;
    background-size: cover;
    margin: 10% 1% 10 1%;
    
}

@media print {
    * {
        -webkit-print-color-adjust: exact !important;
        /*Chrome, Safari */
        color-adjust: exact !important;
        /*Firefox*/
    }
}